.root {
  padding: var(--padding-extra-large);
  gap: var(--padding-extra-small);
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
}

.actions {
  display: flex;
  justify-content: flex-end;
}
