.root {
  gap: var(--padding-extra-small);
  display: flex;
  flex-flow: column nowrap;
  width: 100%;

  &:not(:last-child) {
    margin-bottom: var(--padding-medium);
  }
}

.actions {
  display: flex;
  justify-content: flex-end;
}
