.root {
  display: flex;
  flex-flow: row nowrap;
  place-items: center;
  background: #1a2027;
  padding: var(--padding-small);
  border-radius: 8px;
  text-decoration: none;
  color: inherit;
}

.actions {
  margin-left: auto;
}

.text {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
